<link rel='stylesheet' type='text/css' href='/stylesheets/forms.css'/>

<h1>Login as:</h1>

<div class="card">
    <div class="card-title">Developer</div>

    <div class="form-group">
        <a href="/auth/login/developer/new">Login</a>
    </div>
</div>

<div class="card">
    <div class="card-title">Company/Organization</div>

    <div class="form-group">
        <a href="/auth/login/client/new">Login</a>
    </div>
</div>
