<div class="onboarding">
  <%- include('../layouts/onboarding/_appLeft') %>
  
  <section class="onboarding__right">
    <%- include('../layouts/onboarding/_onboardingBackButton', {message: "Don't have an account yet?", buttonText: "Sign up", href: "/auth/register/"}) %>
    
    <div class="content">
      <div class="card">
        <h3 class="card__title">Developer</h3>

        <div class="form-group">
          <a class="btn btn_primary" href="/auth/login/developer/new">Login</a>
        </div>
      </div>

      <div class="card">
        <h3 class="card__title">Company/Organization</h3>

        <div class="form-group">
          <a class="btn btn_primary" href="/auth/login/client/new">Login</a>
        </div>
      </div>

      <article class="card">
        <h3 class="card__title">Login</h3>
        <a class="btn btn_primary" href="/views/onboarding/register.ejs">
          Login with Web 3.0 Adress
          <!-- <button class="btn btn_primary">Login with Web 3.0 Adress</button> -->
        </a>
      </article>
    </div>
  </section>
</div>
