<div class="onboarding">
  <%- include('../layouts/onboarding/_appLeft') %>

  <section class="onboarding__right">
    <%- include('../layouts/onboarding/_onboardingBackButton', {message: "Already have an account?", buttonText: "Log in", href: "/auth/login/"}) %>

    <div class="content">
      <h1 class="content__title">What kind of account do you want to create?</h1>

      <div class="card">
        <div class="card__title">Developer</div>
        <div class="card__subtitle">
          I&apos;m looking to work in Web3 projects
        </div>

        <div class="form-group btn btn_primary">
          <a href="/auth/register/developer/new">Sign up</a>
        </div>
      </div>

      <div class="card">
        <div class="card__title">Company/Organization</div>
        <div class="card__subtitle">
          <p>
            I&apos;m looking for Web3 development talent
          </p>
          <p>
            I need an integral Web3 solution - consultants, project leads, and developers
          </p>
        </div>

        <div class="form-group btn btn_primary">
          <a href="/auth/register/client/new">Sign up</a>
        </div>
      </div>
    </div>
  </section>
</div>
