<section id="appLeft" class="onboarding__left">
  <article class="work3spacesLogo">
    <img src="/images/polkatalent_logo.svg" alt="Polka Talent brand logo" />
    <bold>work3spaces</bold>
  </article>
  <article class="polkatalentLogo">
    <img src="/images/polkatalent_logo.svg" alt="Polka Talent brand logo" />
  </article>

  <article class="message">
    <h2 class="message_title">Welcome to Polka Talent (variable content)</h2>
  </article>
</section>
