<%- include('../components/_cancelTopbar', {step: 1}) %>

<p>
    Datos y fotos del consultor
</p>

<%- include('../projects/headers/_project', { project }) %>

<p>
    Datos del milestone
</p>

<p>
    Formulario:
</p>

<p>
    input pàra meter documentacion.
</p>

<p>
    input pàra meter otros enlaces.
</p>

<p>
    Boton submit el formulario
</p>
