<div class="backdoor">

    <h1>Backdoor</h1>

  <h2>Register &amp; Login</h2>
  <ul>
    <li><a href="/auth/register/client/new">Register Client</a></li>
    <li><a href="/auth/login/client/new">Login Client</a></li>

    <li><a href="/auth/register/developer/new">Register Developer</a></li>
    <li><a href="/auth/login/developer/new">Login Developer</a></li>
  </ul>

  <h2>Quick Login</h2>
  <ul>
      <li><a is="a-with-tzo" href="/backdoor/admin">Login as Admin</a></li>
      <li><a is="a-with-tzo" href="/backdoor/carlos">Login as Cliente: Carlos</a></li>
      <li><a is="a-with-tzo" href="/backdoor/daniela">Login as Developer: Daniela</a></li>
      <li><a is="a-with-tzo" href="/backdoor/denisse">Login as Developer: Denisse</a></li>
  </ul>

  <h2>Users</h2>
  <ul>
    <li><a href="/backdoor/clients">Show Clients</a></li>
    <li><a href="/backdoor/developers">Show Developers</a></li>
  </ul>

  <h2>Otros</h2>
  <ul>
    <li><a href="/backdoor/projects">Show All Projects</a></li>
    <li><a href="/backdoor/roles">Edit Roles</a></li>
  </ul>
</div>
