<div class="backdoor">

    <h1>Backdoor</h1>

  <h2>Register &amp; Login</h2>
  <ul>
    <li><a href="/auth/register/client/new">Register Client</a></li>
    <li><a href="/auth/login/client/new">Login Client</a></li>

    <li><a href="/auth/register/developer/new">Register Developer</a></li>
    <li><a href="/auth/login/developer/new">Login Developer</a></li>
  </ul>

  <h2>Quick Login</h2>
  <ul>
      <li><a is="a-with-tzo" href="/backdoor/admin">Login as Admin</a></li>
      <li><a is="a-with-tzo" href="/backdoor/client/carlos@sitio.es/login">Login as Cliente: Carlos</a></li>
      <li><a is="a-with-tzo" href="/backdoor/developer/daniela@sitio.es/login">Login as Developer: Daniela</a></li>
      <li><a is="a-with-tzo" href="/backdoor/developer/denisse@aqui.es/login">Login as Developer: Denisse</a></li>
  </ul>

  <h2>Users</h2>
  <ul>
    <li><a href="/backdoor/clients">Show Clients</a></li>
    <li><a href="/backdoor/developers">Show Developers</a></li>
  </ul>

  <h2>Otros</h2>
  <ul>
    <li><a href="/backdoor/projects">Show All Projects</a></li>
    <li><a href="/backdoor/roles">Edit Roles</a></li>
  </ul>

  <!--modificar el 6 por el id del proycto cuando este integrado en el flujo -->
  <h2>show Vote View</h2>
  <ul>
    <li><a href="/votes/6/votations">Show Evaluations</a></li>
  </ul>


</div>
