<h1>Backdoor</h1>

<ul>
    <li> <a href="/backdoor/admin">Login Admin</a></li>
    <li> <a href="/backdoor/carlos">Login Cliente: Carlos</a></li>
    <li> <a href="/backdoor/daniela">Login Developer: Daniela</a></li>
    <li> <a href="/backdoor/clients">Clients</a></li>
    <li> <a href="/backdoor/developers">Developers</a></li>
    <li> <a href="/backdoor/projects">Projects</a></li>
    <li> <a href="/backdoor/roles">Roles</a></li>
    <li> <a href="/developer">Virto</a></li>
</ul>