<div class="backdoor">

    <h1>Backdoor</h1>

    <h2>Links</h2>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>

    <h2>Users</h2>
    <ul>
        <li><a href="/backdoor/clients">Show Clients</a></li>
        <li><a href="/backdoor/developers">Show Developers</a></li>
    </ul>

    <h2>Others</h2>
    <ul>
        <li><a href="/backdoor/projects">Show All Projects</a></li>
        <li><a href="/backdoor/registeredDevelopers">View Calendar</a></li>
    </ul>

    <h2>Wild</h2>
    <ul>
        <li><a href="/backdoor/wild">Wild</a></li>
    </ul>

    <% if (process.env.VIRTO_MOCK) { %>
        <h2>Login</h2>
        <ul>
            <li><a href="/backdoor/loginclient1?_method=POST">Login Client 1</a></li>
            <li><a href="/backdoor/logindeveloper1?_method=POST">Login Developer 1</a></li>
        </ul>
    <% } %>

</div>
