<div class="backdoor">

    <h1>Backdoor</h1>

    <h2>Enlaces</h2>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>

    <h2>Quick Login</h2>
    <ul>
        <li><a is="a-with-tzo" href="/backdoor/admin">Login as Admin</a></li>
    </ul>

    <h2>Users</h2>
    <ul>
        <li><a href="/backdoor/clients">Show Clients</a></li>
        <li><a href="/backdoor/developers">Show Developers</a></li>
    </ul>

    <h2>Otros</h2>
    <ul>
        <li><a href="/backdoor/projects">Show All Projects</a></li>
        <li><a href="/backdoor/roles">Edit Roles</a></li>
    </ul>

</div>
