.onboarding
    height: 100dvh
    width: 100dvw
    display: flex
    gap: 24px
    position: relative
    section
        width: 100%
        place-content: center

    // onboarding__left
    &__left
        position: relative
        background-color: $base-2
        @include flex-start
        flex-direction: column
        justify-content: space-between
        background-image: url('/images/polkatalent_onboardingBg.png')
        background-position: center
        background-size: cover
        padding: $sp-12
        @media (max-width: $md)
            display: none
        .work3spacesLogo
            height: 100%
            @include flex-start
            place-content: center
            height: 32px
            img
                @include img-contain

        .polkatalentLogo
            width: 100%
            height: 100%
            @include flex-center
        .message
            max-width: 525px
            position: absolute
            left: $sp-12
            bottom: $sp-12
            &_title
            &_subtitle
                color: $text-dark-2

    // onboarding__right
    &__right
        @include flex-center
        flex-direction: column
        padding: 0 $sp-19
        article
            width: 80%
            // min-width: 400px
            max-width: 720px
            display: flex
            flex-direction: column
            gap: $size-8
            p, small
                color: $text-dark-2

        .signup, .login
            position: absolute
            width: fit-content
            right: $sp-12
            top: $sp-12
            gap: $size-8
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            justify-content: end
            align-items: center
            gap: $size-8

.modalLogin
    @include flex-start
    @extend .bubble
    height: fit-content
    width: 100%
    padding: $sp-10 $sp-12 $sp-12 $sp-12
    flex-direction: column
    gap: $sp-12
    text-align: start
    .btn
        width: 100%

.modalRegister
    width: 540px
    min-width: 540px
    // overflow: hidden
    // Ajustar altura >>>>>
    padding: $sp-10 $sp-18 $sp-12 $sp-18
    @include flex-start
    flex-direction: column
    gap: $sp-12
    .input
        width: 100%
    .input_checkbox
        width: 100%
    .web3button
        width: 100%
    &__formHeader
        @include flex-start
        flex-direction: column
        gap: $sp-5
    &__footerButtons
        width: 100%
        display: flex
        justify-content: space-between
        padding-top: $sp-8
        // &_back
        // &_next
