
/* ------------------------- 
 Project List (index)

.projects
    padding: $sp-12 $sp-17
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
    gap: 24px

    .projectsIndex
        @extend .bubble
        @include flex-start
        flex-direction: column
        gap: $sp-8
        padding: $sp-10
        // width: auto
        width: 100%
        overflow: hidden
        background-color: $base-2
        // border-radius: $radi-6

        .title
            display: block
            max-width: 100%
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

        .users
            display: flex
            justify-content: start
            align-items: center
            gap: $sp-12
            .user
                display: flex
                justify-content: start
                align-items: center
                gap: $sp-4
                // overflow: hidden
                // text-overflow: ellipsis
                margin: 0px 10px

        .actions
            width: 100%
            @include flex-end
            gap: $sp-6

.state
    padding: 0 $sp-5
    height: fit-content
    border-radius: $radi-6
    border: 1px solid $brand
    // align-self: end
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    i
        @include material-icon($text-dark-3)

/* ------------------------- 
 Project Detail (show)

.projectContainer
    padding: $sp-12 $sp-17
    display: flex
    &__col1
        width: 100%
    &__col2
        width: 100%

.projectContainer1col
    padding: $sp-12 $sp-17

.project
    margin: 0 112px
    padding-top: $sp-16

    .projectSubmission
        width: $full
        display: grid
        grid-template-columns: repeat(12, 1fr)
        grid-auto-rows: auto
        gap: $sp-10 //24px
        &_steps
            grid-column: span 3
            grid-row: 1 / -1
            padding-top: 20px
            .stepsItems, ul
                position: sticky
                top: 128px
                display: flex
                flex-direction: column
                gap: 4px
                &_item, li
                    display: flex
                    justify-content: start
                    align-items: center
                    gap: 20px
                    span
                        height: 40px
                        min-height: 40px
                        width: 40px
                        min-width: 40px
                        place-content: center
                        text-align: center
                    &-active
                        span
                            border-radius: $radi-6
                            border: 4px solid $brand-selected
                            background-color: $brand
                    p
                        font-size: $text-base
                        font-weight: 500
                        color: $text-dark-2
                &_connector
                    height: 54px
                    margin-left: 18px
                    width: 4px
                    border-radius: $rounded-full
                    background-color: $fill-5
        &_form
            grid-column: span 9
            width: $full
            min-height: 80dvh
            height: fit-content
            .projectSubmissionTitle
                margin-bottom: $sp-12
            .projectSubmissionForm
                height: 100%
                min-height: 70dvh
                padding: $sp-15 // 44px

.projectSubmissionForm
    border-radius: $radi-6
    border: 1px solid $stroke
    background-color: $base-2
    display: flex
    flex-direction: column
    gap: $sp-14
    &_row
        width: $full
        display: inline-flex
        gap: $sp-14
        .input
            width: $full

    input, select, textarea
        width: 100%
        background-color: $base-1 !important
        font-size: $text-base
        line-height: $lh-base
    label
        color: $text-dark-2
        font-size: $text-base
        line-height: $lh-base

/* ------------------------- */

.projectHeader
    padding: $sp-12 $sp-17
    gap: $sp-6 // $sp-12
    background-color: $base-2
    border-bottom: 1px solid $stroke

#projectNav
    text-align: left
    border-right: 0px

/* -------------------------
 Project Proposal
 */
.buttonContainer
    display: flex
    justify-content: space-between

.projectProposal
    padding: $sp-15
    @extend .bubble
    background-color: $base-2
    &__form
        display: grid
        gap: $sp-14
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(3, 1fr)
        .area1 // title
            grid-area: 1/1/2/2
        .area2 // summary
            grid-area: 2/1/2/2
        .area3 // date
            grid-area: 1/2/2/-1
        .area4 
            grid-area: 2/1/1/1
        .area5 // description
            grid-area: 3/1/-1/-1
    &__summary

.form-group
    label
        font-size: $text-base
        line-height: $lh-base
        font-weight: 500
        color: $text-dark-2
    input, textarea
        width: 100%
        background-color: $base-1
