
<nav id="appNav" role="navigation">
    <a href="/backdoor"><span class="right adminDAO">BackDoor</span></a>

    <span class="todo">Dashboard</span>
    <span class="todo">Reputation</span>
    <span class="todo">Governance</span>

    <% if (locals.loginUser?.isAdmin) { %>
        <a href="/projects">Proyectos</a>
    <% } %>
    <% if (locals.loginUser?.developerId) { %>
        <a href="/developers/<%= loginUser.developerId %>/projects">Proyectos</a>
    <% } %>
    <% if (locals.loginUser?.clientId) { %>
        <a href="/clients/<%= loginUser.clientId %>/projects">Proyectos</a>
    <% } %>

    <span class="todo">Payments</span>

</nav>