<!DOCTYPE html>
<html>
<head>
    <%- include('_head') %>
</head>
<body>
<section id="layoutWrapper" class="layoutWrapper">
    <%- include('_appMain', {body}) %> 
    <%- include('backdoorBtn') %>
</section>

<script src="http://localhost:35729/livereload.js"></script>

</body>
</html>

    <!-- include('_appSidebar') -->
    <!-- include('_appHeader') -->
