<!DOCTYPE html>
<html>
<head>
    <%- include('_head') %>
</head>
<body>
<section id="appOneColumn">
    <%- include('_appHeader') %>
    <%- include('_appNav') %>
    <%- include('_appMain', {body}) %>
</section>
</body>
</html>
