
<div class="contenedor proposalFormHeader">

    <div>
       <h1> <%= locals.title ?? "" %> </h1>
        <br />
        <%= locals.subtitle ?? ""%>

    </div>

    <div>
        <%- include('_flow', {project}) %>
    </div>

</div>