
<style>
    .contenedor {

        display: grid;
        grid-template-columns:  1fr auto;

    }
</style>

<div class="contenedor projectHeader">

    <h1> Projects & Tasks</h1>

    <div>
        <%- include('_flow', {project: null}) %>
    </div>

</div>