<div class="milestone__dev">
    <!-- Developer: -->

    <% if (!milestone.developerId) { %>
        [Unassigned]
    <% } else { %>
        <img class="attachment"
             src="/developers/<%= milestone.developerId %>/attachment">

        <%= milestone.developer?.name ?? "Anonymous" %>

        <% if (milestone.state === "WaitingDeveloperAcceptAssignation") { %>
            [Waiting for Developer Accept Assignation]
        <% } else if (milestone.state === "InProgress") { %>
            [In Progress]
        <% } else if (milestone.state === "WaitingClientAcceptSubmission") { %>
            [Waiting for Client to Accept Submission]
        <% } else if (milestone.state === "SubmissionRejectedByClient") { %>
            [Submission Rejected By Client]
        <% } else if (milestone.state === "Completed") { %>
            [Submission Completed]
        <% } else { %>
            [Unknown state]
        <% } %>
    <% } %>

</div>
