<div class="form-group">
    Developer:

    <% if (milestone.assignation) { %>
        <img class="attachment"
             src="/developers/<%= milestone.assignation.developerId %>/attachment">

        <%= milestone.assignation.developer?.name ?? "Anonymous" %>

        <% if (milestone.assignation.state === "WaitingDeveloperAccept") { %>
            [Waiting For Developer Accept]
        <% } else if (milestone.assignation.state === "InProgress") { %>
            [In Progress]
        <% } else if (milestone.assignation.state === "ClientValidationNeeded") { %>
            [Client Validation Needed]
        <% } else if (milestone.assignation.state === "RejectedByClient") { %>
            [Rejected By Client]
        <% } else if (milestone.assignation.state === "Completed") { %>
            [Completed]
        <% } else { %>
            [Unknown state]
        <% } %>
    <% } else { %>
        [Unassigned]
    <% } %>

</div>


