<div class="milestone__dev">
    <!-- Developer: -->

    <% if (!milestone.developerId) { %>
        <img class="attachment"
             src="/images/none.png">

        [Unassigned]
    <% } else { %>
        <img class="attachment"
             src="/developers/<%= milestone.developerId %>/attachment">

        <%= milestone.developer?.name ?? "Anonymous" %>
    <% } %>

</div>
