<h5 class="title"><%= milestone.title %></h5>

<span class="subtitle budget">
    <small>[<%= milestone.budget %> USD]</small>
</span>

<span class="subtitle delivery">
    <small>
        Delivery:
        <%= locals.allDeliveryTimes[milestone.deliveryTime]?.description ?? "Delivery Time Pending" %>

        <% if (milestone.deliveryTime == 3) { %>
            (<%= milestone.deliveryDate ? new Date(milestone.deliveryDate - browserTimezoneOffset + serverTimezoneOffset).toLocaleString() : "Delivery Date" %>)
        <% } %>
    </small>
</span>


