<div class="form-group">
    <strong><%= milestone.title %></strong> -

    <small>(<%= milestone.budget %> USD)</small> -

    <small>Delivery:</small> <%= milestone.deliveryTime?.description %>
    <small> (<%= new Date(milestone.deliveryDate - browserTimezoneOffset + serverTimezoneOffset).toLocaleString() %>) </small>
</div>

