<h5 class="title"><%= milestone.title %></h5>

<span class="subtitle">
    <small>(<%= milestone.budget %> USD)</small>
</span>
<span class="subtitle">
    <small>Delivery: </small> <%= milestone.deliveryTime?.description %> 
    <small> (<%= new Date(milestone.deliveryDate - browserTimezoneOffset + serverTimezoneOffset).toLocaleString() %>) </small>
</span>


