<div class="card">

    <div class="card-title">Milestones</div>

    <ul>
        <% for (const milestone of project.milestones) { %>

            <li>
                <%- include("./_showMilestone", {milestone}) %>
            </li>

        <% } %>
    </ul>

</div>
