<div class="card">

    <div class="card-title">Milestones</div>

    <ul>
        <% for (const milestone of project.milestones) { %>

            <li>
                <%- include("./_showMilestone", {project, milestone}) %>


                <div class="form-group">
                    <%- include("../actions/info/_all", {project, milestone}) %>
                </div>


                <hr style="clear: both;" />
            </li>

        <% } %>
    </ul>

</div>
