<div class="milestones">

    <h4 class="milestones__title">Milestones</h4>

    <ul class="milestones__content">
        <% for (const milestone of project.milestones) { %>

            <li class="milestoneWrapper">
                <span class="milestoneWrapper__progress">
                    <span class="dot"></span>
                    <span class="line"></span>
                </span>
                <span class="milestoneWrapper__milestone milestone">

                    <%- include("./_showMilestone", {project, milestone}) %>


                    <div class="milestone__actions">
                        <%- include("../actions/info/_all", {project, milestone}) %>
                    </div>


                    <hr style="clear: both;" />
                </span>
            </li>

        <% } %>
    </ul>

</div>
