<div class="milestones">

    <h4 class="title">Milestones</h4>

    <ul class="milestones__content">
        <% for (const milestone of project.milestones) { %>

            <li class="milestoneWrapper">
                <span class="milestoneWrapper__progress">
                    <span class="dot"></span>
                    <span class="line"></span>
                </span>
                <span class="milestoneWrapper__milestone milestone">

                    <%- include("./_showMilestone", {project, milestone}) %>

                </span>
            </li>

        <% } %>
    </ul>

</div>
