
<%- include('../components/_cancelTopbar', {step: 1}) %>

<div id="appTwoColumns">

    <div class="col1">
        <!-- Sidebar -->
        <%- include('../components/_progressSidebar', {step: 1}) %>
    </div>

    <div class="col2 mainContentContainer">
        <%- include('../components/headers/_basic', {title: "Let´s start with your project description"}) %>

        <div class="projectProposal proposalForm">

            <form class="proposalForm__form" id="newProposalForm" action="/projects" method="POST">

                <%- include("./edit/_formProposal", {project, allBudgets, allDeliveryTimes, allProjectTypes}) %>

            </form>

            <div class="buttonWrapper proposalForm__btnContainer">
                <span class="filler"></span>
                <button class="btn btn_primary" onclick="submitFormById('newProposalForm'); return false;">
                    Next: Define Objectives
                </button>
            </div>
        </div>

    </div>

</div>

