
<form  id="newObjectiveForm" action="/projects/<%= project.id %>/objectives" method="POST">

    <div class="form-group">
        <input type="text" id="description" name="description"
               value=""
               placeholder="Description" autocomplete="off">
    </div>

    <button class="right button" onclick="submitFormById('newObjectiveForm'); return false;" >Add New Objective</button>

    <div class="clear"></div>

</form>