
<form id="newConstraintForm" action="/projects/<%= project.id %>/constraints" method="POST">

    <div class="form-group">
        <input type="text" id="description" name="description"
               value=""
               placeholder="Description" autocomplete="off">
    </div>

    <button class="right btn__link" onclick="submitFormById('newConstraintForm'); return false;" >Add Technical/Functional Constraint</button>

    <div class="clear"></div>

</form>