

<% if (locals.loginUser && locals.loginUser.clientId === project.clientId) { %>

    <% if (!project.state) { %>
        <button class="right projectFlow btn btn_primary" onclick="redirectProjectSubmit(<%= project.id %>); return false;">Submit Project</button>
        <div class="clear"></div>
    <% } %>

<% } %>