<% if (locals.loginUser && locals.loginUser.clientId && locals.loginUser.clientId == project.clientId) { %>

    <% if (locals.flowProjectState(project, locals.scope) === locals.ProjectState.ScopeValidationNeeded) { %>

        <div class="actionsBody">
            <div class="actionsBody__comment">

                <form id="responseScopeForm" method="POST" class="responseScopeForm">

                    <div class="form-group">
                        <div class="card-subtitle">Consultant&apos; proposal</div>

                        <p><%= project.comments?.[0]?.consultantComment || "Comentarios pendiente" %></p>

                    </div>

                    <div class="form-group">
                        <label for="clientResponse">Your Response:</label>
                        <input type="text" id="clientResponse" name="clientResponse"
                               value=""
                               placeholder="Response" autocomplete="off">
                    </div>

                    <div class="responseScopeForm__item buttonContainer">

                        <button class="btn btn_outline"
                                onclick="document.getElementById('responseScopeForm').action = '/projects/<%= project.id %>/scopeAccept?_method=PUT'; submitFormById('responseScopeForm'); return false;">
                            Accept Scope
                        </button>

                        <button class="btn btn_outline btn_outline--danger"
                                onclick="document.getElementById('responseScopeForm').action = '/projects/<%= project.id %>/scopeReject?_method=PUT'; submitFormById('responseScopeForm'); return false;">
                            Reject Scope
                        </button>
                    </div>

                    <div class="clear hidden"></div>

                </form>

            </div>
        </div>

    <% } %>

<% } %>