<% if (locals.loginUser && locals.loginUser.developerId && locals.loginUser.developerId == project.consultantId) { %>

    <% if (locals.flowProjectState(project, locals.scope) === locals.ProjectState.ScopingInProgress) { %>

        <% if ((locals.scope?.milestones || []).length > 0  || project.milestones.length > 0) { %>

            <div class="actionsBody">
                <div class="actionsBody__comment">

                    <form id="submitScopeForm" action="/projects/<%= project.id %>/scopeSubmit?_method=PUT"
                          method="POST">

                        <div class="form-group">
                            <label for="consultantComment">Your Commentary:</label>
                            <input type="text" id="consultantComment" name="consultantComment"
                                   value=""
                                   placeholder="Comment" autocomplete="off">
                        </div>

                        <button class="btn btn_primary" onclick="submitFormById('submitScopeForm'); return false;">
                            Scope Submit
                        </button>

                        <div class="clear"></div>

                    </form>    
                </div>
            </div>

        <% } %>

    <% } %>

<% } %>
