<% if (locals.loginUser && locals.loginUser.developerId && locals.loginUser.developerId == project.consultantId) { %>

    <% if (locals.flowProjectState(project, locals.scope) === locals.ProjectState.WaitingForTeamAssigment) { %>

        <div class="actionsBody">
            <div class="buttonContainer">
                <a class="btn btn_primary"
                   href="/projects/<%= project.id %>/assign_team?_method=PUT">
                    Assign Team
                </a>
            </div>
        </div>

    <% } %>

<% } %>
