body {
    color: #333;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 2px solid grey;
    padding: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 7px;
}

.form-group {
    margin-bottom: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 8px;
}

.logs {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 15px;
    height: 300px;
    overflow-y: auto;
    font-family: monospace;
    font-size: 14px;
    border-radius: 4px;
}

.logs div {
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.success {
    color: green;
}

.error {
    color: red;
}


.card-title {
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: normal;
}