.flash {
  width: auto;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #000;
}

.flashinfo {
  border: 2px solid blue;
}

.flashsuccess {
  border: 2px solid green;
}

.flasherror {
  border: 2px solid red;
}

.flash h3 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
}

.flashinfo h3 {
  background-color: #00c;
  color: #ffffff;
}

.flashsuccess h3 {
  background-color: #0c0;
}

.flasherror h3 {
  background-color: #c00;
}

.flash ul li {
  margin: 5px 5px 5px 0px;
  font-size: 12px;
  list-style: square;
}

body {
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: #f3f3f3;
  border-radius: 8px;
  border: 2px solid grey;
  padding: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 7px;
}

.subcard {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px dotted grey;
  padding: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-bottom: 7px;
}

.form-group {
  margin-bottom: 8px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  margin-bottom: 8px;
}

.logs {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 15px;
  height: 300px;
  overflow-y: auto;
  font-family: monospace;
  font-size: 14px;
  border-radius: 4px;
}

.logs div {
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 15px;
  font-weight: bolder;
}

.card-subtitle {
  font-size: 1em;
  margin-bottom: 15px;
  font-weight: bold;
}

* {
  xxxborder: 1px solid tomato;
}

html {
  height: 100%;
  margin: 0;
}

body {
  --primary: #2a4f03;
  --secondary: #dfd88d;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

#appOneColumn {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  margin: 0px;
  padding: 20px;
  color: var(--primary);
  background: white;
}

#appTwoColumns {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0px;
  padding: 0px;
}

#appLeft {
  place-content: center;
  text-align: center;
  background-color: var(--primary);
  color: white;
}

#appRight {
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding: 20px;
  color: var(--primary);
  background: white;
}

#appHeader {
  align-content: center;
  padding: 2px;
  margin: 1px;
  text-align: center;
}

#appNav {
  padding: 2px 7px;
  margin: 1px;
  text-align: left;
  border-bottom: 2px solid var(--secondary);
  border-right: 0px;
}

#appMain {
  padding: 2px;
  margin: 1px;
  padding: 0px 10px;
}

#appTwoColumns #appMain {
  place-content: center;
}

#appHeader h1 {
  margin: 8px;
}

#appHeader .login {
  float: right;
}

/* ------------------------- */
#appNav .todo {
  color: #cccccc;
}

/* ------------------------- */
input[type=checkbox] {
  width: auto;
}

input[type=text], input[type=email], input[type=password] {
  background-color: white;
  height: 15px;
  transition: ease-in-out, background-color 0.4s ease-in-out, height 0.4s ease-in-out;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  background-color: yellow;
  height: 24px;
}

textarea {
  background-color: white;
  height: 150px;
  transition: ease-in-out, background-color 0.4s ease-in-out, height 0.4s ease-in-out;
}

textarea:focus {
  background-color: yellow;
  height: 160px;
}

/* ------------------------- */
a {
  color: var(--primary);
}

a.button, input.button, .button {
  display: inline-block;
  font-size: large;
  text-decoration: none;
  padding: 6px 8px;
  margin: 4px;
  background: #f5f5f5;
  color: var(--primary);
  border-radius: 4px;
  border: solid 1px var(--secondary);
}

a.button:hover, input.button:hover, .button:hover {
  background: lightgray;
}

/* ------------------------- */
a.adminDAO, button.adminDAO {
  display: inline-block;
  font-size: large;
  text-decoration: none;
  padding: 8px 12px;
  margin: 4px;
  border-radius: 4px;
  border: solid 1px var(--secondary);
  background-color: lightgoldenrodyellow;
  color: darkgoldenrod;
}

a.adminDAO:hover, button.adminDAO:hover {
  background: gold;
}

/* ------------------------- */
a.projectFlow, button.projectFlow {
  display: inline-block;
  font-size: large;
  text-decoration: none;
  padding: 8px 12px;
  margin: 4px;
  border-radius: 4px;
  border: solid 1px var(--secondary);
  background-color: #8fbc8f;
  color: beige;
}

a.projectFlow:hover, button.projectFlow:hover {
  background: var(--primary);
}

/* ------------------------- */
.right {
  float: right;
}

.clear {
  clear: both;
}

/* ------------------------- */
.wideRow {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}

.wideRow .itemNarrow {
  flex: 0 auto;
  margin: 0px 5px;
}

.wideRow .itemWide {
  flex: 1 auto;
  margin: 0px 5px;
}

/* ------------------------- */
article.postIndex {
  display: inline-block;
  width: auto;
  padding: 10px;
  box-shadow: 2px 2px 7px #ccc;
  margin: 5px;
}

article.postIndex div.title {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  margin-bottom: 5px;
}

article.postIndex div.author {
  float: right;
  clear: both;
  text-align: right;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 10px;
}

/* ------------------------- */
article.postShow {
  padding: 0px;
  margin: 0px;
}

article.postShow .title {
  font-size: 200%;
}

article.postShow div.attachment {
  float: right;
  margin: 10px;
}

article.postShow div.author {
  float: right;
  clear: both;
  text-align: right;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 10px;
}

/* ------------------------- */
img.attachment {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 2px 2px 7px #ccc;
  vertical-align: middle;
}

p.post-date {
  font-size: small;
  font-style: italic;
}

div.actions {
  clear: both;
  margin-top: 10px;
}

/* ------------------------- */
.usersIndex {
  width: 100%;
  border-collapse: collapse;
}

.usersIndex tr {
  background-color: #e5e5e5;
  border: 1px solid #636363;
  border-radius: 5px;
}

.usersIndex tr:nth-child(even) {
  background-color: #cfcfcf;
}

.usersIndex th {
  padding: 3px;
  margin: 2px;
  background-color: #cfcfcf;
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #636363;
}

.usersIndex td {
  padding: 3px;
  margin: 2px;
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #636363;
}

/* ------------------------- */
article.projectsIndex {
  display: inline-block;
  width: auto;
  padding: 10px;
  box-shadow: 2px 2px 7px #ccc;
  margin: 5px;
}

article.projectsIndex div.title {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: x-large;
}

article.projectsIndex div.user {
  float: right;
  clear: both;
  text-align: right;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 10px;
}

article.projectsIndex div.state {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  margin-bottom: 5px;
  font-size: medium;
}

/* ------------------------- */
#projectNav {
  padding: 10px 0px;
  margin: 10px;
  text-align: left;
  border-right: 0px;
}

/* ------------------------- */

/*# sourceMappingURL=main.css.map */
