@import './lib/flash';
@import './ui/forms';

@import "./lib/_reset.sass";
@import "./lib/_variables.sass";
@import "./lib/_text.sass";
@import "./lib/_mixins.sass";
@import "./lib/_componentslayout.sass";

/* ui */
@import "./ui/_layout.sass";
@import "./ui/_buttons.sass";
@import "./ui/_inputs.sass";
@import "./ui/_labels.sass";
@import './ui/form';
// @import "./ui/_icons.sass";
// @import "./ui/_divider.sass";

// Components
@import './components/_mainSidebar.sass';
@import './components/_sidebarUser.sass'; // nombre?
@import './components/_progressSidebar.sass';
@import './components/_headers.sass';
@import './components/_milestones.sass';
@import './components/_actionsBody.sass';


// Pages
@import './pages/_onboarding.sass';
@import './pages/projects/_project.sass';
@import './pages/projects/_projectProposal.sass';
@import './pages/projects/_objectivesConstraints.sass';
@import './pages/votations/_votations.sass';
@import './pages/_payments.sass';
@import './pages/_escrow.sass';

* {
    // border: 1px solid tomato;
    transition: ease-in-out, background-color .3s ease-in-out, height .4s ease-in-out;
}

html, body {
  // margin: 0px;
  // padding: 0px;

  min-width: 100dvw;
  min-height: 100dvh;
  background-color: $base-1;
  color: $text-dark;
}

i {
  @include remix-icon;
}

.layoutWrapper {
  margin: 0px;
  padding: 0px;
  height: 100dvh;
  max-height: 100dvh;
  width: 100dvw;
  max-width: 100dvw;
  overflow: hidden;
}

/* ------------------------- */

#appSidebar .todo {
  color: #cccccc;
}

/* ------------------------- */

a {
  color: var(--primary);
}

a.button, input.button {
    display: inline-block;
    font-size: large;
    text-decoration: none;
    padding: 6px 8px;
    margin: 4px;
    @extend .btn;
}


.backdoor {
  height: fit-content;
  width: fit-content;
  margin: 40px;
}

.backdoorBtn {
    position: fixed;
    z-index: 999; 
    bottom: 15px; 
    right: 15px; 
    border-radius: $sp-4;
    padding: 0 $sp-4;
    background-color: $fill-2;
}

/* ------------------------- */

.right {
  float: right;
}

.clear {
  clear: both;
}

/* ------------------------- */

.wideRow {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}

.wideRow .itemNarrow {
  flex: 0 auto;
  margin: 0px 5px;
}

.wideRow .itemWide {
  flex: 1 auto;
  margin: 0px 5px;
}

/* ------------------------- */

article.postIndex {
  display: inline-block;
  width: auto;
  padding: 10px;
  box-shadow: 2px 2px 7px #ccc;
  margin: 5px;
}

article.postIndex div.title {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  margin-bottom: 5px;
}

article.postIndex div.author {
  float: right;
  clear: both;
  text-align: right;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 10px;
}

/* ------------------------- */

article.postShow {
  padding: 0px;
  margin: 0px;
}

article.postShow .title {
  font-size: 200%;
}

article.postShow .content {
}

article.postShow div.attachment {
  float: right;
  margin: 10px;
}

article.postShow div.author {
  float: right;
  clear: both;
  text-align: right;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 10px;
}

/* ------------------------- */

img.attachment {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: $rounded-full;
    border: 1px solid $text-dark-3;
    vertical-align: middle;
}

p.post-date {
  font-size: small;
  font-style: italic;
}

div.actions {
  clear: both;
  margin-top: 10px;
}

/* ------------------------- */


.usersIndex {
  width: 100%;
  border-collapse: collapse;
}

.usersIndex tr {
    // background-color: #e5e5e5;
    border: 1px solid #636363;
    border-radius: 5px;
}

.usersIndex tr:nth-child(even) {
    // background-color: #cfcfcf
}

.usersIndex th {
    padding: 3px;
    margin: 2px;
    // background-color: #cfcfcf;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #636363;
}

.usersIndex td {
  padding: 3px;
  margin: 2px;
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #636363;

}





