@import './lib/flash';
@import './ui/forms';

@import "./lib/_reset.sass";
@import "./lib/_variables.sass";
@import "./lib/_mixins.sass";
@import "./lib/_text.sass";
@import "./lib/_componentslayout.sass";

/* ui */
@import "./ui/_buttons.sass";
// @import "./ui/_inputs.sass";
// @import "./ui/_icons.sass";
// @import "./ui/_divider.sass";

/* components */
// @import "./components/_mainHeader.sass";

// Pages
@import './pages/_onboarding.sass';
@import './pages/_project.sass';

* {
    // border: 1px solid tomato;
}


// html {
//     height: 100%;
//     margin: 0;
// }

html, body {
    // --primary: #2a4f03;
    // --secondary: #dfd88d;
    // font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;

    // margin: 0px;
    // padding: 0px;

    min-width: 100dvw;
    min-height: 100dvh;
    background-color: $base-1;
    color: $text-dark;
}

// a {
//     @extend .btn-primary;
// }

#appOneColumn {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;

    margin: 0px;
    padding: 20px;

    color: var(--primary);
    // background: white;
}

#appTwoColumns {
    height: 100vh;
    display: flex;
    // grid-template-columns: 1fr 4fr;

    margin: 0px;
    padding: 0px;
}

#appLeft {
    place-content: center;
    text-align: center;

    // background-color: var(--primary);
    // color: white;
}

#appRight {
    // display: grid;
    // grid-template-rows: auto auto 1fr;

    // padding: 20px;

    // color: var(--primary);
    // background: white;
}

#appHeader {
    align-content: center;
    padding: 2px;
    margin: 1px;
    text-align: center;
}

#appNav {
    padding: 2px 7px;
    margin: 1px;
    text-align: left;
    border-bottom: 2px solid var(--secondary);
    border-right: 0px;
}


#appMain {
    padding: 2px;
    margin: 1px;
    padding: 0px 10px;
}

#appTwoColumns #appMain {
    // place-content: center;
}


#appHeader h1 {
    margin: 8px;
}

#appHeader .login {
    float: right;
}

#appHeader a {
}

/* ------------------------- */

#appNav .todo {
    color: #cccccc;
}

/* ------------------------- */

input[type=checkbox] {
    width: auto;

}

input[type=text], input[type=email], input[type=password] {
    border: 1px solid $text-dark-3;
    transition: ease-in-out, background-color .4s ease-in-out, height .4s ease-in-out;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border: 1px solid $brand;
}

textarea {
    // background-color: white;
    height: calc(15px * 10);
    transition: ease-in-out, background-color .4s ease-in-out, height .4s ease-in-out;
}

textarea:focus {
    background-color: yellow;
    height: calc(15px * 10 + 10px);
}

/* ------------------------- */

a {
    color: var(--primary);
}

a.button, input.button {
    display: inline-block;
    font-size: large;
    text-decoration: none;
    padding: 6px 8px;
    margin: 4px;
    // background: #f5f5f5;
    color: var(--primary);
    border-radius: 4px;
    border: solid 1px var(--secondary);
}

a.button:hover, input.button:hover {
    // background: lightgray;
}

/* ------------------------- */

a.adminDAO {
    display: block;
    font-size: large;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    border: solid 1px var(--secondary);

    background-color: lightgoldenrodyellow;
    color: darkgoldenrod;

}

a.adminDAO:hover {
    background: gold;
}

.backdoorBtn {
    position: fixed;
    z-index: 999; 
    bottom: 15px; 
    right: 15px; 
    border-radius: $sp-4;
    padding: 0 $sp-4;
    background-color: $fill-2;
}

/* ------------------------- */

a.projectFlow {
    display: inline-block;
    font-size: large;
    text-decoration: none;
    padding: 8px 12px;
    margin: 4px;
    border-radius: 4px;
    border: solid 1px var(--secondary);

    // background-color: #8fbc8f;
    color: beige;
}

a.projectFlow:hover {
    // background: var(--primary);
}

/* ------------------------- */

.right {
    float: right;
}

/* ------------------------- */

.wideRow {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}

.wideRow .itemNarrow {
    flex: 0 auto;
    margin: 0px 5px;
}

.wideRow .itemWide {
    flex: 1 auto;
    margin: 0px 5px;
}

/* ------------------------- */

article.postIndex {
    display: inline-block;
    width: auto;
    padding: 10px;
    box-shadow: 2px 2px 7px #ccc;
    margin: 5px;
}

article.postIndex div.title {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    margin-bottom: 5px;
}

article.postIndex div.author {
    float: right;
    clear: both;
    text-align: right;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 10px;
}

/* ------------------------- */

article.postShow {
    padding: 0px;
    margin: 0px;
}

article.postShow .title {
    font-size: 200%;
}

article.postShow .content {
}

article.postShow div.attachment {
    float: right;
    margin: 10px;
}

article.postShow div.author {
    float: right;
    clear: both;
    text-align: right;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 10px;
}

/* ------------------------- */

img.attachment {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: $rounded-full;
    border: 1px solid $text-dark-3;
    vertical-align: middle;
}

p.post-date {
    font-size: small;
    font-style: italic;
}

div.actions {
    clear: both;
    margin-top: 10px;
}

/* ------------------------- */


.usersIndex {
    width: 100%;
    border-collapse: collapse;
}

.usersIndex tr {
    // background-color: #e5e5e5;
    border: 1px solid #636363;
    border-radius: 5px;
}

.usersIndex tr:nth-child(even) {
    // background-color: #cfcfcf
}

.usersIndex th {
    padding: 3px;
    margin: 2px;
    // background-color: #cfcfcf;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #636363;
}

.usersIndex td {
    padding: 3px;
    margin: 2px;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #636363;

}

/* ------------------------- */

article.projectsIndex {
    display: inline-block;
    width: auto;
    padding: 10px;
    box-shadow: 2px 2px 7px #ccc;
    margin: 5px;
}

article.projectsIndex div.title {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    margin-bottom: 5px;
    font-size: x-large;
}

article.projectsIndex div.user {
    float: right;
    clear: both;
    text-align: right;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 10px;
}


article.projectsIndex div.state {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    margin-bottom: 5px;
    font-size: medium;
}


/* ------------------------- */

#projectNav {
    padding: 10px 0px;
    margin: 10px;
    text-align: left;
    border-right: 0px;
}

/* ------------------------- */
