<div class="card-title">Role general data</div>

<div class="form-group">
    <label for="title">Name:</label>
    <input type="text" id="name" name="name"
           value="<%= role.name %>"
           placeholder="Name" autocomplete="off" required>
</div>

<div class="card-title">Actions</div>

<div class="form-group">
    <input type="submit" value="Guardar"/>
</div>

<div class="form-group">
    <a href="/roles"> Cancel </a>
</div>

</div>


