<link rel='stylesheet' type='text/css' href='/stylesheets/forms.css'/>

<h1>Crear Nuevo Role</h1>

<form action="/roles/create" method="POST">

    <div class="card">
        <%- include("./_form", {role}) %>
    </div>

</form>
