<h1>Detalle del Role</h1>

<div class="card">

    <div class="card-title">Role data</div>

    <div class="form-group">

        <p><strong>Id:</strong> <%= role.id %></p>
        <p><strong>Name:</strong> <%= role.name %></p>

    </div>

</div>


<div class="card">

    <div class="card-title">actions</div>

    <div class="form-group">
        <a href="/roles"> Volver </a>
    </div>

</div>