<link rel='stylesheet' type='text/css' href='/stylesheets/forms.css'/>

<h1>Editar Task</h1>

<form is="form-with-tzo" action="/projects/<%= project.id %>/milestones/<%= milestone.id %>/tasks/<%= task.id %>?_method=PUT" method="POST">

    <div class="card">
        <%- include("./_form", {project, milestone, task, browserTimezoneOffset}) %>
    </div>

</form>