<%- include('../projects/headers/_project', {project})  %>

<h1>Milestones &amp; Tasks</h1>


<% for (const milestone of project.milestones) { %>

    <div class="card">

        <%- include("../projects/milestones/_show", {milestone}) %>

        <div class="card-subtitle">Tasks:</div>

        <% for (const i in milestone.tasks) { %>
            <% const task = milestone.tasks[i]; %>

            <div class="subcard">

                <div class="form-group">
                    <%- include("./_show", {task}) %>
                </div>

            </div>
        <% } %>

    </div>

<% } %>
