
<div id="appOneColumn">
    <header class="stickyHeader">        
        <%- include('../components/_cancelTopbar', {step: 1}) %>
        <%- include('../projects/headers/_project', { project }) %>
    </header>
    
    <div class="mainContentContainer escrow" style="max-width: 1240px; margin: 0 auto;">
        
        <h1>Escrow</h1>
        
        <%- include("../components/_pending") %>
        
        <%- include("../projects/actions/body/_all", {project}) %>
    </div>
    
</div>