

<div class="card-title">Constraints</div>

<ul>
    <% for (const constraint of project.constraints) { %>
        <li>
            <%= constraint.description %>

            <% if (locals.loginUser.clientId === project.clientId) { %>
                <a href="/projects/<%= project.id %>/constraints/<%= constraint.id %>?_method=DELETE">Delete</a>
            <% } %>
        </li>
    <% } %>
</ul>
