
<div class="card-subtitle">Add New Objective:</div>

<form action="/projects/<%= project.id %>/objectives" method="POST">

    <div class="form-group">
        <input type="text" id="description" name="description"
               value=""
               placeholder="Description" autocomplete="off">
    </div>

    <div class="form-group">
        <input type="submit" value="Add"/>
    </div>

</form>