<h1>Project Description</h1>

<form is="form-with-tzo" action="/projects/<%= project.id %>?_method=PUT" method="POST">

    <div class="card">
        <%- include("./_formBasic", {project, browserTimezoneOffset}) %>
    </div>

</form>
