<link rel='stylesheet' type='text/css' href='/stylesheets/forms.css'/>

<h1>Project Description</h1>

<form action="/projects/<%= project.id %>?_method=PUT" method="POST">

    <div class="card">
        <%- include("./_formBasic", {project, clientTimezoneOffset}) %>
    </div>

</form>
