<link rel='stylesheet' type='text/css' href='/stylesheets/forms.css'/>

<h1>Project Description</h1>

<form is="form-with-tzo" action="/projects" method="POST">

    <div class="card">
        <%- include("./_formBasic", {project, browserTimezoneOffset}) %>
    </div>

</form>
