<div id="appTwoColumns">
    <div class="">
        <!-- Sidebar -->
        <%- include('../components/_mainSidebar') %>
    </div>

    <div class="">
        <%- include('./headers/_project', { project, activeTab: "payments" }) %>

        <section class="mainContentContainer payments">
            <%- include("../payments/__paymentGridProject", {project, advancePaymentPercentage}) %>
        </section>

    </div>
</div>
