<div id="appTwoColumns">
    <div class="">
        <!-- Sidebar -->
        <%- include('../components/_mainSidebar') %>
    </div>

    <div class="">
        <%- include('./headers/_project', { project, activeTab: "tasks" }) %>

        <section class="mainContentContainer dashboard">
        <%- include("../dashboard/__milestoneGridProject", {project}) %>
        </section>
    </div>
</div>
