<div class="bodyConstraints">

    <div class="bodyConstraints__title">Constraints</div>

    <ul class="bodyConstraints__list">
        <% for (const constraint of project.constraints) { %>
            <li>
                <%= constraint %>
            </li>
        <% } %>
    </ul>

</div>
