
<div class="projectProposal projectProposal__summary">
    <%- include("./_bodyProposals", {project}) %>
    <%- include("./_bodyObjectives", {project}) %>
    <%- include("./_bodyConstraints", {project}) %>
</div>