<div class="bodyObjectives">

    <div class="bodyObjectives__title">Key Objectives</div>

    <ul class="bodyObjectives__list">
        <% for (const objective of project.objectives) { %>
            <li>
                <%= objective %>
            </li>
        <% } %>
    </ul>

</div>
