<div class="onboarding">
    <%- include('../../../layouts/onboarding/_appLeft') %>

    <section id="appRight" class="onboarding__right">

        <h1 class="content__title">Thanks for signing up!</h1>


        <a href="/" class="btn">Back to Home</a>

    </section>
</div>

