<div class="cancelTopBar">
    <div class="cancelTopBar__nav">
        <a href="/dashboard/projects">
            <i class="ri-arrow-left-long-line"></i>
            <%= locals.content ?? "Back" %>
        </a>
    </div>

    <div class="cancelTopBar__logo">
        <img src="/images/polkatalent_logo.svg" alt="Polka Talent brand logo" />
    </div>

    <div class="cancelTopBar__spacer"></div>
</div>
