
<style>
    .canceltopbarcontenedor {

        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr;

        border-bottom: white solid 1px;
    }
</style>

<div class="canceltopbarcontenedor">

    <div></div>

    <a href="/dashboard/projects">
        <i class="ri-arrow-left-box-line"></i><span>Cancel</span>
    </a>

    <img style="width: 24px;" src="/images/polkatalent_logo.svg" alt="wrlogo"/>

    <div></div>

</div>
