<section class="appSidebar">

    <div>
       <span style="color: <%= +step >= 1 ? "green" : "white" %>"> 1 </span>
        Project Basics & Summary
    </div>

    <div>
        <span style="color: <%= +step >= 2 ? "green" : "white" %>"> 2 </span>
        Define Objectives
    </div>

    <div>
        <span style="color: <%= +step >= 3 ? "green" : "white" %>"> 3 </span>
        Reviews and Submit
    </div>

</section>
