// forms header
.formsHeader
    display: flex
    justify-content: space-between
    align-items: center
    padding: $sp-8 $sp-22
    border-bottom: 1px solid $stroke
    &__nav
        i
            color: $fill-5
    &__logo > img
        width: $icon-2xl
    &__spacer