/* Notas sobre componente Milestone
 - componente primitivo .milestone
 - componente desde las distintas vistas
 * showProject
 * developer/dashboard/milestones & payments
 * _formMilestone.ejs // create milestone form
 * _newMilestone.ejs & _editMilestone.ejs
 * _submitMIlestone.ejs

/**
 MILESTONE -> Default Milestone component

.milestone
    &__header // descomponer bloque en el ejs a ser posible
        display: flex
        flex-direction: column
        gap: $sp-2
        .title
            font-weight: 600
        .subtitle
            display: inline-flex
            gap: $sp-5
            color: $text-dark-2
            small
                width: fit-content
    &__description
    &__role
    &__dev
        margin-top: $sp-5
        @include flex-start
        align-items: center
        gap: $sp-5
    &__actions
        margin-top: $sp-8

/** ---------------------------------------------------------------------
 PROJECTS -> Milestones on projects
 - Milestone Container/s
 - MIlestone on showProject

.projectContainer__col
    .milestones
        &__content
            padding: 32px 24px
            @extend .bubble
            border-color: $brand

        .milestoneWrapper
            display: flex
            gap: $sp-8
            &__progress
                @include flex-center
                flex-direction: column
                justify-content: start
                .dot
                    @include flex-center
                    width: 24px
                    aspect-ratio: 1/1 !important
                    border-radius: $rounded-full
                    background-color: $fill-3
                    &::after
                        content: ""
                        height: 12px
                        width: 12px
                        border-radius: $rounded-full
                        background-color: $base-1
                .line
                    width: 1px
                    height: 100%
                    background-color: $fill-3
            &__milestone
                padding-bottom: $sp-12 // estilar dinámico junto a ocultar .line en el último milestone del array


.projectContainer
    .milestone
        width: 100% 
        &__header // descomponer bloque en el ejs a ser posible
            @include flex-start
            gap: $sp-2
            flex-flow: row
            flex-wrap: wrap
            justify-content: space-between
            align-items: baseline
            & > *
                min-width: fit-content
            .title
                flex-grow: .5
                font-size: $text-base
                line-height: $lh-base
                font-weight: 700
            .subtitle
                flex-grow: .1
                width: fit-content
                text-align: end
                display: flex
                gap: $sp-5
                color: $text-dark-2
                small
                    width: fit-content
        &__description
            color: $text-dark-2
            font-size: $text-base
            line-height: $lh-base
            font-weight: 500
        &__role
            @extend .hidden
        &__dev
            @extend .hidden
        &__actions
            @extend .hidden


/** ---------------------------------------------------------------------
 DASHBOARD & PAYMENTS -> Milestones on dashboard & payments
 - Container
 - Component

.dashboard, .payments
    .milestoneGrid
        margin-bottom: $sp-12
        display: flex
        gap: $sp-10
        align-items: strech
        article
            width: 100%
        &__col
            padding: $sp-8 $sp-7
            border-radius: $radi-6
            background-color: $fill-1
            flex: 1
            display: flex
            flex-direction: column
            gap: $sp-7
            .colHeader
                min-height: 40px
                padding: 0 $sp-7
                @include flex-start
                align-items: center
                gap: $sp-5
                border-radius: $radi-6
                border: 1px solid $stroke
                background-color: $base-2
                box-shadow: $elevation-xs

                font-size: $text-lg
                line-height: $lh-lg
                font-weight: 500
                .counter
                    height: 24px
                    border-radius: $radi-4
                    padding: $sp-1 $sp-5
                    background-color: $fill-1
                    @include flex-center
                &--active
                    color: $base-1
                    background-color: $brand
                    font-weight: 600
                    .counter
                        color: $brand
                &--completed
                    background-color: $green-100
                    .counter
                &--rejected
                    background-color: $red-300
                    .counter

.dashboard, .payments
    .milestone
        padding: $sp-7
        border-radius: $radi-6
        border: 1px solid $stroke
        background-color: $base-1
        box-shadow: $elevation-xs
        display: grid
        grid-template-columns: 1fr
        gap: $sp-7
        &__header
            @include flex-start
            gap: $sp-2
            flex-flow: row
            flex-wrap: wrap
            justify-content: space-between
            align-items: baseline
            & > *
                min-width: fit-content
            .title
                flex-grow: .5
                font-size: $text-base
                line-height: $lh-base
                font-weight: 700
            .subtitle
                flex-grow: .1
                width: fit-content
                text-align: end
                display: flex
                gap: $sp-5
                color: $text-dark-2
        &__description
            gap: $sp-5
            color: $text-dark-2
            // font-size: $text-base
            // line-height: $lh-base
            // font-weight: 400
        &__role
        &__dev
            font-size: $text-xs
            line-height: $lh-xs
            font-weight: 500
            .attachment
                width: 28px
                height: 28px
        &__actions
            padding: 0 $sp-7
            border-radius: $sp-6
            font-size: $text-sm
            line-height: $lh-sm
            font-weight: 600
            text-align: center
            .btn_primary
                min-height: 0 // overwrite btn min-h
                width: fit-content
        .bubble
            width: fit-content // no funciona
            background-color: $base-2

/** ---------------------------------------------------------------------
 EDIT MILESTONES
 - Container
    - Component (in view)

.editMilestones
    margin: 0 auto
    width: 100%
    max-width: 1240px
    &__item
        margin-bottom: $sp-12
        @extend .bubble
        padding: $sp-5 $sp-7
        @include flex-start
        justify-content: space-between
        .milestone
        .buttonContainer
            margin-top: 2px
            @include flex-end
            gap: $sp-7
            justify-content: end
            flex-direction: row-reverse

/** ---------------------------------------------------------------------
 CREATE MILESTONE FORM & EDIT MILESTONE FORM
 - Container
 - Form groups
.formMilestone
    padding: $sp-15
    .form-group
        margin-top: $sp-12
    &__milestone
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(4, auto)
        gap: $sp-7
        .title
            grid-column: 1 / 3
            grid-row: 1 / 2
        .description
            grid-column: 1 / 3
            grid-row: 2 / 3
            align-self: start
        .budget
            grid-column: 3 / 4
            grid-row: 1 / 2
        .time
            grid-column: 4 / 5
            grid-row: 2 / 3
        .date
            grid-column: 4 / 5
            grid-row: 1 / 2
    &__dev
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(3, auto)
        gap: $sp-7
        .skills
            grid-column: 1 / 3
            grid-row: 2 / 3
        .availability
            grid-column: 3 / -1
            grid-row: 2 / 3
        .form-group
            width: 100%
            select
                width: 100%

/** ---------------------------------------------------------------------
 SUBMIT MILESTONE
 - Container
 - Form groups
.submitMilestone
    @extend .formContainer
    margin: $sp-12 auto
    width: 100%
    max-width: 1000px
    padding: 24px !important
    display: grid
    grid-template-columns: 1fr
    gap: 32px
    border: 1px solid $brand
    &__title
        margin: 0 !important
        @include flex-start
        align-items: center
        gap: 12px
        font-size: $text-xl
        line-height: $lh-xl
        font-weight: 400
    &__milestone
        @extend .bubble
        box-shadow: none
        padding: 16px 24px
        border: 2px solid $stroke
        @include flex-start
        flex-flow: column
    &__form
        @include flex-start
        flex-direction: column
        gap: 32px
        & > *
            width: 100%
        .buttonContainer
            margin: 0

.submitMilestone__milestone.milestone
    &__header
        width: 100%
        @include flex-start
        justify-content: space-between
        align-content: center
        gap: $sp-7
        
        font-size:  $text-sm
        line-height: $lh-sm
        font-weight: 400
        .title
            flex-grow: 1
            font-size:  $text-base
            line-height: $lh-base
            font-weight: 700
    &__description
        padding-bottom: $sp-8
        color: $text-dark-2
        font-size:  $text-base
        line-height: $lh-base
        font-weight: 500