.milestones
    &__title
        margin-bottom: 8px
    &__content
        padding: 32px 24px

        @extend .bubble
        border-color: $brand

    .milestoneWrapper
        &__progress
            .dot
                display: block
                height: 40px
                width: 40px
                border-radius: $rounded-full
                background-color: $base-2
        &__milestone


        .milestone
            background-color: blue
            &__title
            &__description
            &__role
            &__dev
            &__actions
