.sidebarUser
    &__wrapper
        @include flex-center
        justify-content: space-between
        gap: $sp-7

        .userContainer
            @include flex-center
            gap: $sp-7
            &__avatar
                position: relative
                .dot
                    bottom: 0
                    right: 0
                    @extend .notification-dot
            &__info


