<p>
    <img class="attachment"
         src="/developers/<%= milestone.developerId %>/attachment" />
    <%= milestone.developer.name %>
</p>

<%- include('../milestones/info/_headerMilestone', { milestone }) %>
