
<div class="milestone__header">
    <%- include('../milestones/info/_headerMilestone', { milestone, allDeliveryTimes }) %>
</div>

<p class="milestone__dev">
    <img class="attachment"
         src="/developers/<%= milestone.developerId %>/attachment" />
    <%= milestone.developer.name %>
</p>

<div class="milestone__state">
    <% if (["pending"].includes(milestone.state)) { %>
        <i class="ri-timer-2-line"></i>
    <% } %>

    <small class="state state_secondary">
        <%= locals.flowMilestoneState(milestone) %>
    </small>
</div>
