<section class="mainContentContainer payments">

    <% for (let project of projects) { %>

        <% if (!project.milestones.length) continue; %>

        <h1 class="payments__projectTitle">
            Project <%= project.title %>
        </h1>

        <%- include("./__paymentGridProject", {project, advancePaymentPercentage}) %>

    <% } %>

</section>
