
<div id="appTwoColumns">

    <div class="col1">
        <!-- Sidebar -->
        <%- include('../components/_mainSidebar') %>
    </div>

    <div class="col2">
        <!-- Header -->
        <%- include('../components/headers/_appBasic', { title: 'Payments' }) %>

        <%- include('./_paymentGrid', {projects, advancePaymentPercentage}) %>

    </div>
</div>


