<style>
  .contenedor {
    display: grid;
    grid-template-columns: auto auto;
  }
</style>

<div class="contenedor appHeader appHeader--dashboard">
  <h1 class="appHeader__title">Dashboard</h1>

    <div class="appHeader__right">
        <small class="link">
            <span> Learn more about projects </span>
            <i class="ri-arrow-right-line"></i>
        </small>
        <% if (locals.loginUser.clientId) { %>
            <a class="projectFlow btn btn_primary btn_href"
               href="/projects/new">
                <i class="ri-add-line"></i>
                <span>New Project</span>
            </a>
        <% } %>
    </div>

  <% if (locals.loginUser.developerId) { %>
        <div class="appHeader__tabs">
            <a class="tab btn btn_primary btn_href"
               href="/developers/<%= locals.loginUser.developerId %>/projects">
                Projects
            </a>

            <a class="tab btn btn_primary btn_href"
               href="/developers/<%= locals.loginUser.developerId %>/milestones">
                Milestones
            </a>
        </div>
  <% } %>
</div>
