<% const client = c; %>

<section class="mainContentContainer dashboard">
    <% for (let project of projects) { %>

        <h1>Project <%= project.title %></h1>

        <%- include("./__milestoneGridProject", {project}) %>

   <% } %>
</section>
