

<div id="appTwoColumns">

    <div class="col1">
        <!-- Sidebar -->
        <%- include('../components/_mainSidebar') %>
    </div>

    <div class="col2">
        <!-- Header -->
        <%- include('../dashboard/_header') %>

        <%- include('../components/_pending') %>

    </div>
</div>
