

<div id="appTwoColumns">

    <div class="col1">
        <!-- Sidebar -->
        <%- include('../components/_mainSidebar') %>
    </div>

    <div class="col2">
        <!-- Header -->
        <%- include('./_header', { activeTab: 'milestones' }) %>

        <%- include('./_milestoneGrid', {projects}) %>

    </div>
</div>
