

<style>
  .contenedor {
    display: grid;
    grid-template-columns: auto auto;
  }
</style>

<%- include('../components/_cancelTopbar', {step: 1}) %>

<div class="contenedor appHeader appHeader--votations">

  <div class="appHeader__left">
    <small class="link">
      <i class="ri-arrow-left-line"></i>
      <span> Polkadot Treasury Dashboard</span>
    </small>
    <h1 class="appHeader__title">Evaluate team members</h1>
    <p class="appHeader__subtitle">Choose the evaluation for each team member</p>
  </div>

  <div class="appHeader__right">
    <button class="btn btn_primary submitVotations">Submit Reviews</button>
  </div>

</div>

<section class="votations">
  <form id="voteForm" action="/votes/<%= voteData.project.id %>/submit" method="POST">
    <% voteData.members.forEach((member, index) => { %>
      <%- include('votationCard', { member, score: 0, readonly: false }) %>
    <% }) %>
  </form>
</section>

<script src="/javascripts/votations.js"></script>