<!-- Login Developer -->

<div class="onboarding">
    <%- include('../layouts/onboarding/_appLeft') %>

    <section class="onboarding__right">
        <%- include('../layouts/onboarding/_onboardingBackButton', {message: "Don't have an account yet?", buttonText: "Sign up", href: "/auth/register/"}) %>

        <form is="form-with-tzo" id="loginForm" class="content" action="/auth/login/developer" method="POST">
            <h1>Login de un Developer</h1>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="email" required />
            </div>

            <input type="hidden" id="token" name="token"/>

            <div class="form-group">
                <button class="btn btn_primary" type="submit" id="loginButton">
                    Login
                </button>
            </div>

            <div class="form-group">
                <p id="status"></p>
            </div>
        </form>
    </section>
</div>

<script type="module">

    console.log("Login de desarrolador: Empieza el script.");

    import SDK from 'https://cdn.jsdelivr.net/npm/@virtonetwork/sdk@0.0.4-alpha.36/dist/esm/index.js';

    const emailElement = document.getElementById("email");
    const tokenElement = document.getElementById("token");
    const loginButton = document.getElementById("loginButton");
    const statusElement = document.getElementById("status");

    function initializeSDK() {
        try {
            const sdk = new SDK({
                federate_server: "https://dev.abako.xyz/api",
                provider_url: "wss://dev.abako.xyz/kreivo",
                config: {
                    wallet: "polkadot",
                },
            });

            console.log("Login de desarrollador: SDK initialized successfully");
            return sdk;
        } catch (error) {
            console.log(
                `Login de desarrollador: Error initializing SDK: ${
                    error instanceof Error ? error.message : "Unknown error"
                }`,
                "error"
            );
            throw error;
        }
    }


    document
        .getElementById("loginForm")
        .addEventListener("submit", async function (event) {
            event.preventDefault(); // Evita el envío automático del formulario

            try {
                console.log("Loguear developer...");

                loginButton.disabled = true;
                loginButton.innerHTML = ". . .";
                statusElement.innerHTML = "Empieza el logueo";

                if (!emailElement.value) {
                    throw new Error("❌ Error: Email is requerido");
                }

                showWaitModal();

                const sdk = initializeSDK();

                console.log("Comprobar si es un usuario registrado...");
                const registered = await sdk.auth.isRegistered(emailElement.value);
                if (!registered) {
                    throw new Error("Developer needs to register first");
                }
                console.log("El developer está registrado.");

                statusElement.innerHTML = "Generando certificado para loguearse";

                const preparedData = await promiseWithTimeout(sdk.auth.prepareConnection(emailElement.value), 60000, "Timeout esperando al servidor por los datos para preparar el login");
                if (!preparedData) {
                    throw new Error("❌ Error: No se han generado los login data");
                }

                // PENDIENTE SPG: Mover esto al servidor
                statusElement.innerHTML = "Obteniendo extrinsic del servidor";
                // Llamar al servidor para obtener el extrinsic
                const response = await fetch(`https://dev.abako.xyz/adapter/v1/auth/custom-connect`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        userId: emailElement.value
                    })
                });
                // console.log("response", response);
                if (!response.ok) {
                    throw new Error(`Server responded with status: ${response.status}`);
                }
                const result = await response.json();
                console.log('Connection completed successfully on the server:', 'success');
                //console.log(JSON.stringify(result, null, 2));
                if (!result.extrinsic) {
                    throw new Error("No se recibió el extrinsic del servidor");
                }
                if (!result.token) {
                    throw new Error("No se recibió el token del servidor");
                }

                statusElement.innerHTML = "Firmando transacción";
                // El usuario firma la transacción que inicia la sesión en el servidor
                const signedResult = await sdk.auth.sign(result.extrinsic);
                // console.log("signedResult", signedResult);
                if (!signedResult) {
                    throw new Error("❌ Error: No se pudo firmar el extrinsic");
                }

                // console.log("=================================================================================================================");
                // console.log("==== TOKEN ====", result.token);
                // console.log("=================================================================================================================");

                tokenElement.value = result.token;

                statusElement.innerHTML = "Esperando respuesta del servidor";


                this.submit();
            } catch (error) {
                statusElement.innerHTML = "El login ha fallado";
                alert(`❌ Login error: ${error instanceof Error ? error.message : "Unknown error"}`);
                console.log(`Login error: ${error instanceof Error ? error.message : "Unknown error"}`);
                loginButton.disabled = false;
                loginButton.innerHTML = "Login";
                statusElement.innerHTML = "El login ha fallado";
            }
        });
</script>
