<div class="onboarding">
    <%- include('../layouts/onboarding/_appLeft') %>

    <section id="appRight" class="onboarding__right">
        <%- include('../layouts/onboarding/_onboardingBackButton', {message: "Already have an account?", buttonText: "Log in", href: "/auth/login/"}) %>

        <form id="registerForm" class="content" action="/auth/register/developer" method="POST">
            <h1 class="content__title">Create Developer Account</h1>
            <p class="content__subtitle">
                Enter your email below to create your account
            </p>

            <div class="form-group">
                <label for="email">Email</label>
                <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="email"
                        required
                />
            </div>

            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" id="name" name="name" placeholder="Name"/>
            </div>

            <input type="hidden" id="preparedData" name="preparedData"/>

            <div class="form-group">
                <button class="btn btn_primary" type="submit" id="registrationButton">
                    Register
                </button>
            </div>

            <div class="form-group">
                <p id="status"></p>
            </div>
        </form>
    </section>
</div>


<script type="module" >

    import SDK from 'https://cdn.jsdelivr.net/npm/@virtonetwork/sdk@0.0.4-alpha.36/dist/esm/index.js';

    const emailElement = document.getElementById("email");
    const nameElement = document.getElementById("name");
    const pdElement = document.getElementById("preparedData");
    const registrationButton = document.getElementById("registrationButton");
    const statusElement = document.getElementById("status");

    function initializeSDK() {
        try {
            const sdk = new SDK({
                federate_server: "https://dev.abako.xyz/api",
                provider_url: "wss://dev.abako.xyz/kreivo",
                config: {
                    wallet: "polkadot",
                },
            });

            console.log("Developer registration: SDK initialized successfully");
            return sdk;
        } catch (error) {
            console.log(`Developer registration: Error initializing SDK: ${error instanceof Error ? error.message : "Unknown error"}`);
            throw error;
        }
    }

    document
        .getElementById("registerForm")
        .addEventListener("submit", async function (event) {
            event.preventDefault(); // Prevent automatic form submission

            try {
                console.log("Registering developer...");

                registrationButton.disabled = true;
                registrationButton.innerHTML = ". . .";
                statusElement.innerHTML = "Starting registration";

                if (!emailElement.value) {
                    throw new Error("Error: Email is required");
                }

                const sdk = initializeSDK();

                console.log("Checking if user is registered...");
                const registered = await sdk.auth.isRegistered(emailElement.value);
                if (registered) {
                    throw new Error("This email is already registered");
                }
                console.log("The developer is not registered.");

                const userData = {
                    profile: {
                        id: emailElement.value,
                        name: nameElement.value || undefined,
                    },
                };

                statusElement.innerHTML = "Generating certificate for registration";

                const preparedData = await promiseWithTimeout(sdk.auth.prepareRegistration(userData), 60000, "Timeout waiting for server to prepare registration data");
                if (!preparedData) {
                    throw new Error("Error: Registration data was not generated");
                }
                pdElement.value = encodeURIComponent(JSON.stringify(preparedData, null, 2));

                statusElement.innerHTML = "Waiting for server response";

                showWaitModal();

                this.submit();
            } catch (error) {
                alert(`Registration error: ${error instanceof Error ? error.message : "Unknown error"}`);
                console.log(`Registration error: ${error instanceof Error ? error.message : "Unknown error"}`);
                registrationButton.disabled = false;
                registrationButton.innerHTML = "Register";
                statusElement.innerHTML = "Registration failed";
            }
        });
</script>
