body {
    // color: #333;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    // background-color: #f3f3f3;
    border-radius: 8px;
    // border: 2px solid grey;
    padding: 7px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 7px;
    &-subtitle {
        font-size: 1em;
        margin-bottom: 15px;
        font-weight: bold;
    }
}


.subcard {
    // background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid grey;
    padding: 7px;
    box-shadow: 0 2px 4px rgba(250, 250, 250, 0.1);
    margin-bottom: 7px;
}

.form-group {
    margin-bottom: 8px;
}

.logs {
    // background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 15px;
    height: 300px;
    overflow-y: auto;
    font-family: monospace;
    font-size: 14px;
    border-radius: 4px;
}

.logs div {
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.success {
    color: green;
}

.error {
    color: red;
}


.card-title {
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: bolder;
}