label
  font-weight: 400
input, select, textarea
  @extend .bubble
  min-height: 36px
  display: flex
  flex-direction: column
  gap: $sp-5
  border-radius: $radi-6
  font-weight: 500
  &:focus
    outline: 1px solid $brand
    box-shadow: $shadow-2
  &::placeholder, &:disabled, &:invalid
    color: $text-dark-3

.input
  min-height: 36px
  display: flex
  flex-direction: column
  gap: $sp-5
  border-radius: $radi-6
  font-weight: 500
  font-size: $text-sm
  line-height: $lh-sm
  &::placeholder
    color: $text-dark-3
  &_feedback
    font-size: $text-xs
    line-height: $lh-xs
    color: $text-dark-2

/**--------------------------------------------------------------------------------------
 TEXT

.input_text
  display: flex
  flex-direction: column
  gap: $sp-5
  input
    padding: 0 $sp-6 0 $sp-7
    &:focus
      outline: 1px solid $brand
      box-shadow: $shadow-2
      background-color: $brand

.onboardingForm > .input[type="text"]
  display: flex
  flex-direction: column
  gap: $sp-5
  input
    padding: 0 $sp-6 0 $sp-7

// 

.input_textarea
  font-size: $text-base
  line-height: $lh-base
  resize: vertical // o "none" si no quieres que se pueda redimensionar
  textarea
    min-height: 100px
  &:focus
    outline: 1px solid $brand
    box-shadow: $shadow-2
  &::placeholder
    color: $text-dark-3

/**--------------------------------------------------------------------------------------
 TEXT

.input_select
  display: flex
  flex-direction: column
  gap: $sp-5
  select
    padding: 0 $sp-6 0 $sp-7
    place-content: center
    border-radius: $radi-6
    &:invalid, &:disabled
      color: $text-dark-3
    option
      color: $text-dark

/**--------------------------------------------------------------------------------------
 CHECKBOX

.input_checkbox
  @extend .bubble
  padding: $sp-7
  display: flex
  flex-direction: row
  align-items: start
  gap: $sp-5
  cursor: pointer
  user-select: none
  font-family: sans-serif
  div
    width: 100%
  .material-icons
    font-size: 20px
    color: $fill-5
  .custom-checkbox
    color: inherit
  &:hover
    border-color: $brand
    box-shadow: $shadow-2
    .custom-checkbox
      border-color: $brand
  &--checked
    background-color: $base-2
    .custom-checkbox
      background-color: $brand

  /* Checkbox personalizado */
  .custom-checkbox
    font-size: 16px
    font-weight: 700
    color: $base-1
    @include flex-center
    margin-top: 2px
    width: 1rem
    min-width: 1rem
    height: 1rem
    min-height: 1rem
    border: 1px solid $text-dark-3
    border-radius: 4px
    transition: all 0.2s ease
    &:hover
      border: 1px solid $brand
