
<style>
    .contenedor {
        display: grid;
        grid-template-columns:  1fr auto;
    }
</style>

<div class="contenedor appHeader">

    <div class="appHeader__title">
        <h1 class="title"> <%= locals.title ?? "" %> </h1>
    </div>

    <div class="basicHeader__actions">
        <% for (let action of locals.actions ?? []) { %>
            <button class="<%= action.class %>"
                    onclick="<%= action.callback %>; return false;">
                <%= action.title %>
            </button>
            <br/>
        <% } %>
    </div>

</div>

