

<% if (locals.loginUser && locals.loginUser.isAdmin) { %>
    <a class="adminDAO btn btn_primary btn_href"
       href="/projects/<%= project.id %>/milestones/<%= milestone.id %>/developer/select">
        Select/Change Milestone Developer
    </a>

<% } %>

