<% if (locals.loginUser && locals.loginUser.isAdmin) { %>

    <% if (!milestone.developer) { %>

        <a class="adminDAO btn btn_primary btn_href"
           href="/projects/<%= project.id %>/milestones/<%= milestone.id %>/developer/select">
            Assign Milestone Developer
        </a>

    <% } %>

    <% if (milestone.state === "AwaitingPayment") { %>

        <a class="right projectFlow btn btn_primary"
           href="/projects/<%= project.id %>/milestones/<%= milestone.id %>/pay?_method=POST">
            DAO: Pay this milestone
        </a>

    <% } %>

<% } %>

