

<% if (locals.loginUser && locals.loginUser.isAdmin) { %>
    <button class="adminDAO"
            onclick="redirectSelectMilestoneDeveloper(<%= project.id %>, <%= milestone.id %>); return false;">
        Select/Change Milestone Developer
    </button>

<% } %>

