
<%
 // Accion para que el consultor envie (submit) un milestone para que lo revise el cliente.
%>

<% if (locals.loginUser && locals.loginUser.developerId && locals.loginUser.developerId == project.consultantId) { %>

        <% if (locals.flowMilestoneState(milestone) === locals.MilestoneState.MilestoneInProgress) { %>

        <a class="btn btn_primary"
           href="/projects/<%= project.id %>/milestones/<%= milestone.id %>/submitForReview?_method=PUT"
           onclick="showWaitModal()">
            Submit for Review
        </a>

    <% } %>

<% } %>

