
<%
 // Pagina con el formulario para que un consultor envie (submit) un milestone
 // para que lo revise el cliente.
%>

<% if (locals.loginUser && locals.loginUser.developerId === project.consultantId) { %>

    <% if (milestone.state === "MilestoneInProgress") { %>

        <a class="btn btn_primary"
           href="/projects/<%= project.id %>/milestones/<%= milestone.id %>/submitMilestone">
            Submit for Review
        </a>

    <% } %>
<% } %>
