<% if (false) { %>


    <% if (milestone.developerId) { %>

        <% if (locals.loginUser && locals.loginUser.developerId === milestone.developerId) { %>

            <% if (milestone.state === "WaitingDeveloperAcceptAssignation") { %>

                <a class="btn btn_primary"
                   href="/projects/<%= project.id %>/milestones/<%= milestone.id %>/acceptOrRejectAssignation">
                    Accept Or Reject
                </a>

            <% } %>
        <% } %>
    <% } %>


<% } %>
