<% if (milestone.developerId) { %>

    <% if (locals.loginUser && locals.loginUser.developerId === milestone.developerId) { %>

        <% if (milestone.state === "WaitingDeveloperAcceptAssignation") { %>

            <a class="right projectFlow btn btn_primary btn_href"
               href="/projects/<%= project.id %>/milestones/<%= milestone.id %>/acceptOrRejectAssignation">
                Accept Or Reject
            </a>

        <% } %>
    <% } %>
<% } %>
