<div class="formsHeader">
  <div class="formsHeader__nav">
    <i class="ri-arrow-left-long-line"></i>
    <%= content ?? "Back" %>
  </div>

  <div class="formsHeader__logo">
    <img src="/images/polkatalent_logo.svg" alt="Polka Talent brand logo" />
  </div>

  <div class="formsHeader__spacer"></div>
</div>
