<nav id="appSidebar" role="navigation" class="appSidebar">
  <div class="appSidebar__header">
    <div class="logo">
      <img src="/images/polkatalent_logo.svg" alt="Polka Talent brand logo" />
      <bold>PolkaTalent</bold>
    </div>
    <div class="notifications">
      <span class="notifications__dot"></span>
      <i class="ri-notification-2-line"></i>
    </div>
  </div>

  <ul class="appSidebar__menu">
    <!-- Dashboard -->
    <li class="todo">
      <a href="#">
        <i class="ri-layout-vertical-line"></i><span> Dashboard</span>
      </a>
    </li>
    <!-- Reputation -->
    <li class="todo">
      <a href="#">
        <i class="ri-user-line"></i>
        <span> Reputation </span>
      </a>
    </li>
    <!-- Governance -->
    <li class="todo">
      <a href="#">
        <i class="ri-bank-line"></i>
        <span> Governance </span>
      </a>
    </li>

    <!-- Projects -->
    <% if (locals.loginUser?.isAdmin) { %>
    <li>
      <a href="/projects">
        <i class="ri-notification-2-line"></i> <span>Proyectos</span></a
      >
    </li>
    <% } %> <% if (locals.loginUser?.developerId) { %>
    <li>
      <a href="/developers/<%= loginUser.developerId %>/projects">
        <i class="ri-notification-2-line"></i>
        <span>Proyectos</span>
      </a>
    </li>
    <% } %> <% if (locals.loginUser?.clientId) { %>
    <li>
      <a href="/clients/<%= loginUser.clientId %>/projects">
        <i class="ri-notification-2-line"></i> <span>Proyectos</span></a
      >
    </li>
    <% } %>

    <li class="todo">
      <a href="#">
        <i class="ri-bank-card-line"></i>
        <span>Payments</span>
      </a>
    </li>
  </ul>

  <%- include('_sidebarUser') %>
</nav>
